.Editor {
  display: flex;
  gap: 10px;
}

/* Editor 클래스의 이름을 가지는 요소 안에서 input 태그 스타일 변경 */
.Editor input{ 
    flex : 1;
    padding: 15px;
    border : 1px solid rgb((220,220,220));
    border-radius: 5px;
}

.Editor button{
    cursor : pointer;
    width : 80px;
    background-color: rgb(37, 147, 255);
    color:white;
    border-radius: 5px;
}